<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <meta name="description" content="Test">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../static/assets/css/Article-Clean.css">
    <link rel="stylesheet" href="../static/assets/css/Article-List.css">
    <link rel="stylesheet" href="../static/assets/css/beautiful-dismissable-alert.css">
    <link rel="stylesheet" href="../static/assets/css/Beautiful-Modern-Looking-Pricing.css">
    <link rel="stylesheet" href="../static/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../static/assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="../static/assets/css/Data-Table.css">
    <link rel="stylesheet" href="../static/assets/css/FAQ-Frequentlly-Asked-Questions-1.css">
    <link rel="stylesheet" href="../static/assets/css/FAQ-Frequentlly-Asked-Questions.css">
    <link rel="stylesheet" href="../static/assets/css/Features-Blue.css">
    <link rel="stylesheet" href="../static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="../static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/assets/css/News-Cards.css">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="../static/assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../static/assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../static/assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="../static/assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Stressed Down</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/buy">Buy</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/faq">FAQ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/news">News</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact Us</a></li>
                </ul>
                <div class="dropdown show border rounded" style="margin-right: 30px;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">Hello {username}</a>
                    <div class="dropdown-menu show" role="menu"><a class="dropdown-item" role="presentation" href="/profile">Profile</a><a class="dropdown-item" role="presentation" href="/admin">Admin Panel</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light btn btn-primary rounded-pill" role="button" href="/users/logout">Logout</a></span></div>
        </div>
    </nav>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" href="#">User Roles</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/announcements">Future&nbsp; features</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-11 offset-lg-3 offset-xl-4"><div class="alert alert-primary" role="alert">
  Errors here!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div></div>
                </div>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        <form class="custom-form" method="post" style="background-color: rgb(252,250,250);">
                            <h1>Change User Role</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Username</label></div>
                                <div class="col-sm-4 input-column"><select class="form-control"><option value="valeri">Valeri</option><option value="Ivan">Ivan</option></select></div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Role</label></div>
                                <div class="col-sm-4 input-column"><select class="form-control"><option value="User">User</option><option value="Admin">Admin</option></select></div>
                            </div><button class="btn btn-light submit-button rounded-pill" type="button" style="background-color: rgb(238,9,121);">Save</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/home">Home</a></li>
                <li class="list-inline-item"><a href="/buy">Buy</a></li>
                <li class="list-inline-item"><a href="/faq">FAQ</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="/news">News</a></li>
                <li class="list-inline-item"><a href="/contact">Contact Us</a></li>
            </ul>
            <p class="copyright">Stress Down © 2020</p>
        </footer>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/js/three.r95.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/assets/js/vanta.net.min.js"></script>
    <script src="../static/assets/js/app.js"></script>
    <script src="../static/assets/js/Profile-Edit-Form.js"></script>
</body>

</html>