<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head}">

</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" th:insert="~{fragments/nav}">

</nav>
<div class="card">
    <div class="card-header" th:insert="~{fragments/authenticated/subnav/home-sub-nav}">
    </div>

    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 offset-lg-0 offset-xl-0">
                    <div class="alert alert-primary" role="alert" th:if="${!hasUserActivePlan}">
                        You dont have active plan!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card-header">
                        <h3 class="card-title"><i class="si si-list"></i> History and managment <i
                                style="display: none;" id="manage" class="zmdi zmdi-settings zmdi-hc-spin"></i></h3>
                        <div class="card-options">
                            <button onclick="attacks()" class="btn btn-light"><i class="fa fa-refresh"></i> Refresh
                            </button>
                            <button onclick="attacks()" class="btn btn-light"><i class="fa fa-trash"></i> Clear</button>
                        </div>
                    </div>
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TARGET</th>
                            <th>METHOD</th>
                            <th>SERVERS</th>
                            <th>EXPIRES</th>
                            <th>STATUS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Na detelin neta</td>
                            <td>Layer 7</td>
                            <td>1</td>
                            <td>02/07/2020</td>
                            <td>Running</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Test</td>
                            <td>DDOS</td>
                            <td>2</td>
                            <td>03/07/2020</td>
                            <td>Running</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col d-flex justify-content-center text-center">
                    <div class="st-card card-header">

                        <div>
                            <h3 style="color: dark;" class="card-title"> Launch Attack</h3> <i
                                class="zmdi zmdi-settings zmdi-hc-spin"
                                id="attackloader" style="display:none"></i>

                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-material floating">
                                                <label for="host"><i class="fa fa-terminal"></i> Host</label>
                                                <input type="text" class="form-control" id="host" name="host"
                                                       placeholder="0.0.0.0">
                                                <small class="form-text text-danger">Please enter correct text</small>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <div class="form-material floating">
                                                <label for="port"><i class="zmdi zmdi-portable-wifi"></i> Port</label>
                                                <input type="number" class="form-control" id="port" name="port"
                                                       placeholder="80">
                                                <small class="form-text text-danger">Please enter correct text</small>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="form-material floating">
                                                <label for="time"><i class="fa fa-clock-o"></i> Time</label>
                                                <input type="number" class="form-control" id="time" name="time"
                                                       placeholder="60">
                                                <small class="form-text text-danger">Please enter correct text</small>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div>
                                            <label for="method"><i class="zmdi zmdi-view-dashboard"></i> Method</label>
                                            <select class="form-control" id="method" name="method">
                                                <option value="test">test</option>
                                                <option value="test2">test2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><i class="fa fa-server"></i> Servers </label>

                                    <input type="number" class="form-control" id="totalservers" name="totalservers"
                                           placeholder="1">
                                    <small class="form-text text-danger">Please enter correct text</small>
                                    Your Limit: 0
                                </div>


                                <div class="form-group m-b-0">
                                    <div class="col-sm-offset-3 col-sm-12">
                                        <button class="btn btn-primary rounded-pill btn-sm btn-block waves-effect waves-light m-1"
                                                id=" hit" type="submit"><i class="fa fa-bolt"></i> Send
                                        </button>

                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-basic">
    <footer th:insert="~{/fragments/authenticated/footer-authenticated}">

    </footer>
</div>
<th:block th:insert="~{fragments/scripts}">

</th:block>
</body>

</html>